.elements{
min-height: 100vh;
display: flex;
align-items: center;
/* text-align: center; */
justify-content: center;

}
.Formİnputs{
  background-color: aliceblue
  ;
  padding: 20px;
 width: 400px;
}
input{
  width: 100%;
padding: 5px;}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list{
  margin:  15px 0;
}
.list>li{
  background-color: rgb(164, 164, 164);
justify-content:space-between;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 7px;
  display: flex;
}
.btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;


}
.btn>button{
  width: 60px;
}

 


